.sidebar-container{
    width: 20vw;
    /* height: 100vh; */

    padding: 1rem;

    background-color: #252525;

    transition: width 0.2s;
}

.sidebar-container.shrinked{
    width: 0px;
}

.sidebar-logo{
    width: 11rem;
}