@import url(sidebar.css); 
@import url(components/ContentCard/ContentCard.css);
@import url(components/ContentCard/ConversationCard/ConversationCard.css);
@import url(components/ContentCard/MemoCard/MemoCard.css);
@import url(components/ContentCard/HyperModal/HyperModal.css);

html, body{
    margin: 0px;
    padding: 0px;

    overflow: hidden;

    font-family: Pretendard JP;

    width: 100vw;
    height: 100vh;
}

body{
    display: flex;
    flex-direction: row;
}

body::selection{
    background-color: #78787884;
}