.memo-card{
    display: inline-flex;
    flex-direction: column;

    box-sizing: border-box;
    height: 100%;
    width: 100%;

    padding: 5rem 4rem;

    background-color: #FFFFFF;
    color: black;
}

.memo-text.title{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.memo-text.content{
    font-size: 1rem;
}